.skills-main-wrap {
	width: 100%;
	border-top: 1px solid rgb(234, 234, 234);
	border-bottom: 1px solid rgb(234, 234, 234);
	background-color: rgba(244, 244, 244, 0.221);
	margin: 6rem 0 3rem 0;
}
.skills-container {
	margin: 0 auto;
	// padding: 5rem;
	max-width: 1200px;
}
