.head-styles {
	display: inline-block;
	// filter: invert(0) grayscale(1) contrast(9);
	mix-blend-mode: screen;
	// color: #fefefe;
	// box-shadow: 2px -1px 12px 0px rgba(235, 235, 235, 1);
	text-shadow: 2px 2px 8px rgba(136, 136, 136, 0.927);
}
