.skill-bar-container {
	position: relative;
	height: 6px;
	width: 100%;
	border: 1px solid black;
	border-radius: 5px;
}

.skill-bar-indicator {
	position: absolute;
	background-color: rgb(26, 26, 26);
	height: 100%;
}
