.filters-wrapper {
	display: flex;
	// width: 100%;
	// max-width: 300px;
	justify-content: space-between;
	padding-top: 2rem;
	margin: 0 auto;

	li {
		padding: 0.5rem 1rem;
		text-transform: uppercase;
		cursor: pointer;
		border-radius: 2px;
		max-width: 120px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 600;
		font-size: 0.7rem;
		@media (max-width: 450px) {
			font-size: 0.5rem;
		}
		@media (min-width: 600px) {
			padding: 0.5rem 1.5rem;
			font-size: 1rem;
		}
	}
}
.active-filter {
	background-color: rgba(237, 237, 237, 0.68);
}
